.search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 2rem auto;
  border-radius: 2px;
}
.search input {
  height: 1.2rem;
  margin-top: 0.5rem;
  padding: 0.2rem;
  border: 1px solid #DE5F8A;
  border-radius: 2px;
  font-size: 1.1rem;
}
.search  button {
  margin: 0.5rem 0 0 0.5rem;
  border: 0;
  background: linear-gradient(to right top, #913050, #DE5F8A);
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}
