header {
  margin: 1rem 0;
}
p {
  margin: 0.3rem 0;
}
.info {
  display: flex;
  flex-direction: column;
}
.info > div:first-child {
  text-align: center;
}
.info > div > img {
  max-width: 15rem;
  width: 100%;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .info {
    flex-direction: row;
    justify-content: space-around;
  }
}
